.cards-holder {
    text-align: center;
}

.card {
    box-shadow: 1px 1px 6px #d5d5d5;
    margin: .5rem;
    display: inline-block;
    width: calc(100% / 2 - 1.2rem);
    text-align: center;
    padding: 2rem 3rem;
    box-sizing: border-box;
    border-radius: 10px;
}

a {
    text-decoration: none;
}